<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Otopark_OTOMASYONU.Properties.Settings.otopark_otomasyonuConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=otopark_otomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>